* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', sans-serif;
    text-align: center;
}

footer {
    height: 67px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: #272727;
    color: white;
}

.footer-text {
    margin-right: 20px;
}

.footer-text > h1 {
    font-size: 45px;
}

.footer-text > h3 {
    font-size: 15px;
}