* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', sans-serif;
    color: white;
}

p {
    font-size: 25px;
}

.encouragement {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    z-index: 99;
}

.redirect-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 95px;
    background-color: red;
    font-size: 20px;
    margin-top: 10px;
    border: 3px solid white;
}

.redirect-buttons a {
    text-decoration: none;
}

.redirect-buttons:hover {
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
}

.redirect-buttons a:hover {
    color: black;
    cursor: pointer;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: opacity(60%);
}

.news {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt7a5e1c1256cf4fe8/622998704142c3684bf53306/Brimstone_Raze_1920x1080.jpg);
}

.esports {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url(https://www.extron.com/img/mktg/open_graph/esports.jpg);
}

footer {
    background-color: #272727;
}
