* {
    color: white;
    /* text-align: center; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Odibee Sans', sans-serif;
    font-size: 125px;
    /* color: white; */
}

h3 {
    font-family: 'Odibee Sans', sans-serif;
    font-size: 50px;
    /* color: white; */
}

.background-video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

#slogan-subtitle {
    top: 0;
}

.homepage-buttons {
    margin-top: 20px;
    border: 1px solid black;
    background-color: #c20000;
    padding: 10px;
    font-family: 'Odibee Sans', sans-serif;
    font-size: 30px;
}

/* TODO: Fix styling of buttons */
.homepage-buttons :hover {
    background-color: white;
}

.homepage-buttons > h5 :hover {
    color: black;
}