* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h3 {
    font-size: 60px;
}

p {
    font-size: 25px;
}

.encouragement {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    z-index: 99;
}

.redirect-button {
    width: 270px;
    height: 95px;
    background-color: red;
    font-size: 20px;
    margin-top: 10px;
    border: 3px solid white;
}

.redirect-button:hover {
    border: 3px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: opacity(60%);
}

.container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#news {
    background-image: url(/assets/news-background.jpg);
    background-size: cover;
}

#esports {
    background-image: url(https://www.extron.com/img/mktg/open_graph/esports.jpg);
    background-size: cover;
}

footer {
    background-color: #272727;
}

@media only screen and (max-width: 800px){

    h1 {
        font-size: 75px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    p {
        font-size: 15px;
    }

}
