* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', sans-serif;
}

nav h1 {
    font-size: 50px;
    margin-left: 20px;
    color: white;
    letter-spacing: 2px;
}

.nav-container {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-buttons-container {
    display: none;
    justify-content: space-evenly;
    padding-right: 20px;
}

.navigation-button {
    color: white;
    background: none;
    font-size: 30px;
    border: none;
    margin: 0 10px;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    z-index: 100;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar button {
    margin-bottom: 30px;
}

.navigation-button:hover {
    color: red;
    cursor: pointer;
}

/* .navigation-buttons-container button:hover {
    color: red;
    cursor: pointer;
} */

.page-active {
    /* background-color: red; */
    color: darkred;
}

nav {
    background-color: black;
    border-bottom: 5px solid red;
}

.hamburger {
    display: block;
    position: relative;
    margin-right: 20px;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: white;
    border-radius: 6px;
    z-index: 999;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: darkred;
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: darkred;
}

@media only screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }

    .navigation-buttons-container {
        display: block;
    }
}